<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.EduExperimentItemMapper">

    <resultMap id="BaseResultMap" type="com.springboot.model.entity.EduExperimentItem">
            <id property="id" column="experiment_item_id" />
            <result property="sortOrder" column="experiment_item_no" />
            <result property="itemName" column="experiment_item_name" />
            <result property="questionType" column="experiment_item_type" />
            <result property="questionContent" column="experiment_item_content" />
            <result property="experimentId" column="experiment_id" />
            <result property="standardAnswer" column="experiment_item_answer" />
            <result property="maxScore" column="experiment_item_score" />
            <result property="itemStatus" column="state" />
    </resultMap>

    <sql id="Base_Column_List">
        experiment_item_id,experiment_item_no,experiment_item_name,experiment_item_type,
        experiment_item_content,experiment_id,experiment_item_answer,experiment_item_score,state
    </sql>
</mapper>
