<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.ResExperimentResultMapper">

    <resultMap id="BaseResultMap" type="com.springboot.model.entity.ResExperimentResult">
            <id property="id" column="student_item_id" />
            <result property="studentId" column="student_id" />
            <result property="itemId" column="item_id" />
            <result property="subContent" column="content" />
            <result property="score" column="score" />
            <result property="submittedAt" column="fill_time" />
            <result property="gradingStatus" column="score_flag" />
    </resultMap>

    <sql id="Base_Column_List">
        student_item_id,student_id,item_id,content,score,fill_time,score_flag
    </sql>
</mapper>
